
#form_configurator_renderer{
    width: 100%;
    border-top: 1px solid #aaa;
    background: #EEE;
}
#form_configurator_code{
    min-height: 200px;
}

#form_configurator_options button {
    padding:3px;
    background-color: #3276b1;
    color: white;
    line-height:25px;
    font-size: 16px;
    height:25px;
    width:50px;
}

#form_configurator_options .alpaca-form{margin:0px;}