.public-feeds-list {
}

.public-feeds-li {
    border-top: 1px solid #ccc;
    min-height: 300px;
    padding-top: 40px;
    position: relative;
}

.public-feeds-li:first-child {
    border-top: none;
}

.public-feeds-thumbnail {
    background-color: #f9f9f9;
    height: 200px;
    left: 0;
    margin-top: -135px;
    position: absolute;
    top: 50%;
    width: 400px;
}

.public-feeds-thumbnail-img {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.public-feeds-params {
    font-size: 14px;
    margin-left: 420px;
}

.public-feeds-params h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

/**/
.public-feed {
    margin-bottom: 70px
}

.public-feed span,
.public-feed small {
    color: #999;
}

.public-feed .public-feed_affiliate-link {
    margin: 5px 0 30px;
    padding-left: 20px;
}

.public-feed-thumbnail-img {
    max-width: 500px;
    width: 100%;
}

.public-feed-description {
    color: #666;
}