table.filters_table {

}

table.filters_table label {
    display: inline-block;
    width: 200px;
}

table.filters_table label:hover {
    color: #777;
}

table.filters_table th{
    border: 0;
    margin: 0;
    padding: 0;
}

div.form-actions i {
    padding-right: 10px;
}

table.filters_table th h3 {
    padding: 12px 0 12px 25px;
    font-size: 18px;
    color: #222;
    background: #E5E5E5;
    display: block;
    margin: 0;
    line-height: 100%;
}

table.filters_table th h3 i {
    color: #666;
    padding-right: 10px;
}


table.filters_timing {
    width: 100%;
}

table.filters_timing td {
    border: 0;
    border-right: #EEE solid 1px;
    font-family: Verdana, Geneva, sans-serif;
    padding: 5px 2px 5px 2px;
    font-size:10px;
    text-align:center;
    color: #555;
    white-space: nowrap;
    line-height: 120%;
}

table.filters_timing th {
    background: #F5F5F5;
    font-weight: 100;
    font-size: 11px;
    white-space: nowrap;
    padding: 2px 10px 2px 10px;
}

table.filters_timing td:last-child {
    border: 0;
}

table.filters_timing td.tm_tg {
    padding: 0;
    border: 0;
}

table.filters_timing td.tm_tg div {
    float: left;
    height: 25px;
}

table.filters_timing td.tm_tg div.activ {
    background: #a5e2a3;
}

table.filters_timing td.sales_no div.activ {
    background: #F3BDBD;
}

table.filters_timing td.tm_tg div.pause {
    background: #fbe7e7;
}

table.filters_timing td.tm_dt {
    background: #F5F5F5;
    width: 7%;
    color: #888;
}

table.filters_timing td.tm_dt b {
    font-weight: bold;
    padding: 3px 0 5px 0;
    display: block;
    color: #555;
}

div.filter_calendar_label {
    color: #666;
    font-size: 14px;
    padding-bottom: 5px;
}

.filter_calendar_loader {
    display: none;
}



div.filters_state_list {
    min-height: 120px;
}

div.filters_state_list > div{
    text-align: center;
}

div.filters_state_list > div > a{
    text-decoration: none;
}

div.filters_state_list label{
    width: 200px;
    display: inline-block;
}

textarea.filters_state_ta {
    width: 100%;
    resize:none;
    margin: 0 auto;
    box-sizing: border-box;
    text-transform: uppercase
}

p.filters_state_ta_desc {
    color: #888;
}


div.filters_region_list {
    min-height: 120px;
}

div.filters_region_list > div{
    text-align: center;
}

div.filters_region_list > div > a{
    text-decoration: none;
}

div.filters_region_list label{
    width: 200px;
    display: inline-block;
}

textarea.filters_region_ta {
    width: 100%;
    resize:none;
    margin: 0 auto;
    box-sizing: border-box;
    text-transform: uppercase
}

p.filters_region_ta_desc {
    color: #888;
}

textarea.filters_webmasters_list {
    width: 100%;
    resize:none;
    margin: 0 auto;
    box-sizing: border-box;
}

p.filters_webmasters_desc {
    color: #888;
    margin: 0;
    padding: 0;
}



div.filter_minmax_visual {
    margin: 0;
    background: #fbe7e7;
    width: 100%;
    height: 22px;
}

div.filter_minmax_visual div{
    float: left;
    height: 22px;
    background: #a5e2a3;
}

a.filter_sales_group_label {
    margin: 5px;
    color: #000;
    text-decoration: none;
}

a.filter_sales_group_label i {
    font-size: 12px;
    color: #6D9CBE;
    text-decoration: none;
}

a.filter_sales_group_label:hover {
    cursor: pointer;
    text-decoration: underline;
}

a.filter_sales_group_label:hover i {
    color: #d84a38;
    text-decoration: none;
}

a.filter_sales_group_delete {
    float: right;
    margin: 5px;
    color: #CCC;
    text-decoration: none;
    cursor: pointer;
}

a.filter_sales_group_delete:hover {
    color: #d84a38
}

div.filter_sales_bottom_content {
    padding: 10px;
    text-align: center;
}

div.filter_sales_content {
    clear: both;
    padding-top: 15px;
}