#summaryReport_Plot_pre {
    text-align: left;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding-bottom: 5px;
    background: #EEE;
    border: #E5E5E5 solid 1px;
    min-height: 50px;
}

#summaryReport_Plot {
    height: 350px;
    margin: 0 0 10px 10px;
    clear: both;
    padding: 0;
}

#summaryReport_Plot_Overview{
    height:80px;
    margin: 20px 0px 10px 10px;
}

#summaryReport_Plot_Selecter{
    float:right;
    text-align: right;
    padding:10px;
}

#summaryReport_Help{
    float:right;
    padding:10px;
}

#summaryReport_Plot_MultiSelecter{
    padding:10px;
    padding-bottom: 0;
}

#summaryReport_Plot_MultiSelecter div{
    padding-bottom: 10px;
    text-align: left;
    font-size: 16px;
}

#summaryReport_Plot_pre_load {
    height:0px;
    display:none;
}

#summaryReport_Plot_pre_load div.show {
    position:relative;
    text-align: center;

    border: 1px solid #DDD;
    margin-bottom: 10px;
    background: #000;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;


    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;

    z-index:100000;

}

#summaryReport_Plot_pre_load div.show div{
    border:0px;
    position:relative;
    height:300px;
    text-align:center;
    line-height:300px;
    font-size:36px;
    color:#FFF;
}

table.summaryReportTable td, table.summaryReportTable th{
    text-align:center;
}