div.debug_block {
    z-index: 98;
    width: 100%;
    padding: 0 0 130px 0;
    font-size: 10px;
    clear: both;
    background: #FAFAFA;
}

div.debug_block > h1 {
    border-top: #DDD solid 1px;
    border-bottom: #EEE solid 1px;
    width: 100%;
    box-sizing: border-box;
    color: #222;
    background: #F9F9F9;
    padding: 3px 5px 3px 5px;
    font-weight: bold;
    margin: 0;
    font-size: 10px;
    line-height: 100%;
    clear: both;
}


div.debug_block > div {
    padding: 5px;
}

div.debug_block > div  h2{
    font-size: 10px;
    font-weight: bold;
    color: #999;
    margin: 30px 0 10px 0;
    line-height: 100%;
    padding: 3px;
    border-bottom: #CCC solid 1px;
}

div.debug_block > div  table.main_info td,
div.debug_block > div  table.db_info td
{
    padding: 3px 7px 3px 7px;
    text-align: left;
    vertical-align: top;
    border-bottom: #EEE solid 1px;
}

div.debug_block > div table.main_info td:first-child {
    text-align: right;
    color: #777;
}

div.debug_block pre {
    margin: 0;
    padding: 0;
    border: 0;
    background: #FAFAFA;
    font-size: 11px;
    line-height: 150%;
}