.ui_set {
    display:block;
    padding: 2px 4px 2px 4px;
    margin: 1px;
    border: #EEE solid 0px;
    text-align: center;
    white-space: nowrap;
    line-height: 19px;
    color: #444;

    -moz-border-radius:     3px !important;
    -webkit-border-radius:  3px !important;
    border-radius:          3px !important;
}

a.ui_set {
    cursor: pointer;
    text-decoration: none;
}

a.ui_set:hover {
    color: #000;
}