table.ap_form input[type=text],
table.ap_form input[type=password],
table.ap_form input[type=file],
table.ap_form select,
table.ap_form textarea {
    margin-right:       2px;
    background:         #FFF;
    box-sizing:         border-box;
    height: auto;
    line-height: 120%;

    -moz-border-radius:		4px !important;
    -webkit-border-radius:	4px !important;
    border-radius:			4px !important;

    width:100%;
    font-size: 12px;
}

@media only screen and (max-width: 640px) {
    table.ap_form input[type=text],
    table.ap_form input[type=password],
    table.ap_form input[type=file],
    table.ap_form select,
    table.ap_form textarea {
        font-size: 14px;
    }
}


table.ap_form input::-webkit-input-placeholder {
    color: #AAA;
    font-size: 11px;
}
table.ap_form input:-moz-placeholder {
    color: #AAA;
    font-size: 11px;
}

table.ap_form  {
background:#FFF;
width:100%;
}

table.ap_form td, table.ap_form th {
vertical-align: top;
}

table.ap_form td.ap_fbl_line {
padding: 0;
height: 0;
border-bottom:#DDD solid 1px;
}

table.ap_form tr.ap_fbl_start:hover {
    background: none;
}

table.ap_form tr.ap_fbl_start td {
padding-top: 20px;
padding-bottom: 2px;
border-bottom:#DDD solid 1px;
}

table.ap_form tr.ap_fbl_start td div.ap_fbl_title {
font-weight: bold;
font-size: 1em;
color: #666;
}

table.ap_form tr.ap_fbl_start td div.ap_fbl_descr {
padding: 2px 0 5px 0;
font-size: 0.9em;
color: #666;
}

img.ap_form_logo {
float: left;
margin-right: 20px;
margin-bottom: 5px;
}

div.ap_form_title{
line-height: 36px;
font-size: 22px;
margin-bottom: 5px;
width: 100%;
}

div.ap_form_descr{
padding: 0 5px 0 5px;
margin-bottom: 15px;
}

div.ap_f_errdiv {
margin:5px 0 5px 0;
padding:7px 10px 7px 10px;

background: #FBE1B3;

line-height:24px;
font-size:110%;

border: 1px solid #EC9;
border-right: 4px #DD4B39;
border-left: 4px #DD4B39;

-moz-border-radius:       2px;
-webkit-border-radius:    2px;
border-radius:            2px;
}

div.ap_f_sucdiv {
margin:5px 0 5px 0;
padding:7px 10px 7px 10px;

background: #CBE2B4;

line-height:24px;
font-size:110%;

border: 1px solid #AED28A;
border-right: 4px #85B94A;
border-left: 4px #85B94A;

-moz-border-radius:        2px;
-webkit-border-radius:    2px;
border-radius:            2px;
}

div.ap_f_errdiv > img.ap_f_msgimg, div.ap_f_sucdiv > img.ap_f_msgimg {
float:left;
position:relative;
margin: 0 10px 3px 0;
}

table.ap_form > tbody > tr > td {
padding:10px;
border-bottom:#F8F8F8 solid 1px;
}

table.ap_form > tbody > tr:hover {
background:#F7F7F7;
}

table.ap_form td.ap_fc1{
width:17%;
min-width:130px;
white-space:nowrap;
color:#555;
padding-left:20px;
text-align: right;
}

table.ap_form td.ap_fc2{
text-align:left;
padding-top:8px;
padding-bottom:8px;
min-width:270px;
width: 300px;
font-size: 11px;
color: #555;
}

table.ap_form td.ap_fc3{
text-align:left;
width:48%;
color:#777;
padding-left:15px;
min-width:200px;
font-size: 11px;
}

table.ap_form div.respLabel{
    display: none;
}

table.ap_form div.respComment{
    display: none;
}

table.ap_form tr.ap_ftrbtn input.btn {
    margin-bottom: 10px;
}

@media only screen and (max-width: 720px) {
    table.ap_form td.ap_fc1{
        width:15%;
        min-width:130px;
        white-space:nowrap;
        color:#444;
        padding-left:20px;
        text-align: right;
    }

    table.ap_form td.ap_fc3{
        display: none;
    }

    table.ap_form div.respComment{
        display: block;
    }
}

@media only screen and (max-width: 640px) {
    table.ap_form td.ap_fc1{
        display: none;
    }

    table.ap_form div.respLabel{
        display: block;
        padding-bottom: 7px;
        color: #888;
        font-weight: bold;
        font-size: 11px;
    }
}

table.ap_form td.ap_fc2 div.ap_fcmnt {
color:#777;
padding-top:7px;
font-size: 11px;
}

table.ap_form td.ap_fc2 select {
width: auto;
}

table.ap_form td.ap_fc2 label {
width:170px;
padding:5px 4px 5px 4px;
margin-bottom:2px;
margin-right:10px;
display:block;
float:left;
line-height: 100%;
}

table.ap_form td.ap_fc2 label:hover {
background:#FBFBFB;
padding:4px 3px 4px 3px;
border:#E5E5E5 solid 1px;

-moz-border-radius:		4px !important;
-webkit-border-radius:	4px !important;
border-radius:			4px !important;
}

table.ap_form td.ap_fc2 label input {
float:left;
margin-right:5px;
}

table.ap_form td.ap_fc2 label.ap_f_one_label {
width:auto;
}

table.ap_form td.ap_fc2 label.ap_f_one_label input {
margin-right:0;
}


table.ap_form tr.ap_ftrbtn td {
border: 0;
padding: 12px;
}

table.ap_form tr.ap_ftrbtn td:first-child {
    width: 15%;
}

table.ap_form tr.ap_ftrbtn td:last-child {
    width: 85%;
}

table.ap_form tr.ap_ftrbtn td div.ap_btns_box{
}

table.ap_form > tbody > tr.ap_ftrbtn:hover {
background:inherit;
}

table.ap_form tr.ap_error_tr{
background:#FCF6CF;
border-left:#DD4B39 solid 2px;
border-right:#DD4B39 solid 2px;
}

table.ap_form > tbody > tr.ap_error_tr > td {
border-bottom:#F9E8B7 solid 1px;
}

table.ap_form > tbody > tr.ap_error_tr:hover {
background:#FFEEBB;
}

table.ap_form div.ap_error_node{
clear:both;
padding-top:5px;
color:#DD4B39;
}

input.ap_error_input, select.ap_error_input, textarea.ap_error_input{
border:#DD4B39 solid 1px;
border-width: 1px 1px 1px 1px;
}

div.ap_error_tinymce_div > span.mceEditor > table.mceLayout {
border:0;
}

div.ap_error_tinymce_div > span.mceEditor > table.mceLayout > tbody > tr.mceFirst > td {
border-color:#C76;
}

div.ap_error_tinymce_div > span.mceEditor > table.mceLayout > tbody > tr.mceLast > td {
border-bottom-color: #C76;
border-left-color:	 #C76;
border-right-color:	 #C76;
}

/* ligths table */
table.ap_form_ligths{
width:100%;
}

table.ap_form_ligths td{
padding:0 7px 0 0;
border:0;
white-space:nowrap;
line-height:28px;
color:#444;
vertical-align: top;
}

table.ap_form_ligths td input,
table.ap_form_ligths td select{
width: auto;
}

table.ap_form_ligths td:last-child{
padding-right: 0;
}